Adafruit-Blinka==8.20.1
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-mcp230xx==2.5.11
adafruit-circuitpython-requests==2.0.1
adafruit-circuitpython-typing==1.9.4
Adafruit-PlatformDetect==3.48.0
Adafruit-PureIO==1.1.11
adafruit-python-shell==1.7.0
args==0.1.0
clint==0.5.1
pyftdi==0.54.0
pyserial==3.5
python-vlc==3.0.18122
pyusb==1.2.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
sysv-ipc==1.1.0
typing-extensions==4.7.1
